*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.box {
    cursor: none;
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: rgb(32, 255, 24);
    border-radius: 50%;
    transform: translate(-46%, -40%);
    border: 5px solid rgb(0, 183, 255);
}
.box :hover{
    cursor: none;
}